p#pogrubienie_ostrowski
{
font-size:35px;
color:#8B5AC0;
font-weight:bold;
}

p#pochylona_ostrowski
{
font-size:40pt;
color:#EFC664;
font-style:italic;
}

p#index_gorny_ostrowski
{
font-size:1.5cm;
color:#9F781C;
vertical-align:super;
}

p#index_dolny_ostrowski
{
font-size:2.5cm;
color:rgb(26%,95%,89%);
vertical-align:sub;
}

p#mono_ostrowski
{
font-size:45px;
color:#3DA464;
font-family:monospace;
}

p#powiekszenie_ostrowski
{
color:#5F3EBE;
font-size:larger;
}

p#pomniejszenie_ostrowski
{
color:rgb(78%,64%,23%);
font-size:smaller;
}
